go 1.18

use (
  ./3kyu/rail-fence-cipher

  ./4kyu/find-reverse-number
  ./4kyu/how-many-numbers
  ./4kyu/next-same-digits
  ./4kyu/snail-sort

  ./5kyu/anagrams
  ./5kyu/beeramid
  ./5kyu/isbn10-validation
  ./5kyu/iterative-rotation-cipher
  ./5kyu/moving-zeros-to-end
  ./5kyu/non-repeating-character
  ./5kyu/not-very-secure
  ./5kyu/rot13

  ./6kyu/camel-case
  ./6kyu/duplicate-encoder
  ./6kyu/find-parity-outlier
  ./6kyu/find-unique
  ./6kyu/reverse-rotate
  ./6kyu/sum-of-digits
  ./6kyu/weird-string-case

  ./7kyu/alternate-capitalization
  ./7kyu/composing-squared-strings
  ./7kyu/longest-vowel-chain
  ./7kyu/mumbling
  ./7kyu/ordered-char-count
  ./7kyu/previous-multiple-of-three
  ./7kyu/shortest-word
  ./7kyu/strong-number
  ./7kyu/sum-integers-in-string

  ./8kyu/century-from-year
)
