go 1.23

use (
	./3kyu/last_digit_huge_number
	./3kyu/rail_fence_cipher

	./4kyu/find_reverse_number
	./4kyu/how_many_numbers
	./4kyu/matrix_determinant
	./4kyu/next_same_digits
	./4kyu/readable_duration
	./4kyu/snail_sort

	./5kyu/anagrams
	./5kyu/beeramid
	./5kyu/best_place_concert
	./5kyu/clockwise_spiral
	./5kyu/directions_reduction
	./5kyu/isbn10_validation
	./5kyu/iterative_rotation_cipher
	./5kyu/moving_zeros_to_end
	./5kyu/non_repeating_character
	./5kyu/not_very_secure
	./5kyu/rot13
	./5kyu/weight_for_weight

	./6kyu/camel_case
	./6kyu/deadfish_swim
	./6kyu/duplicate_encoder
	./6kyu/find_parity_outlier
	./6kyu/find_unique
	./6kyu/persistence_bugger
	./6kyu/reverse_rotate
	./6kyu/stop_spinning_words
	./6kyu/sum_of_digits
	./6kyu/weird_string_case

	./7kyu/alternate_capitalization
	./7kyu/cartesian_neighbors
	./7kyu/composing_squared_strings
	./7kyu/jaden_casing
	./7kyu/longest_vowel_chain
	./7kyu/mumbling
	./7kyu/ordered_char_count
	./7kyu/previous_multiple_of_three
	./7kyu/shortest_word
	./7kyu/strong_number
	./7kyu/sum_integers_in_string
	./7kyu/two_oldest_ages

	./8kyu/century_from_year
	./8kyu/multiplication_table
)
