go 1.18

use (
  ./4kyu/snail-sort

  ./5kyu/anagrams
  ./5kyu/non-repeating-character

  ./6kyu/camel-case
  ./6kyu/duplicate-encoder
  ./6kyu/find-parity-outlier
  ./6kyu/find-unique
  ./6kyu/reverse-rotate
  ./6kyu/weird-string-case

  ./7kyu/alternate-capitalization
  ./7kyu/composing-squared-strings
  ./7kyu/longest-vowel-chain
  ./7kyu/mumbling
  ./7kyu/ordered-char-count
  ./7kyu/previous-multiple-of-three
  ./7kyu/shortest-word
  ./7kyu/strong-number
  ./7kyu/sum-integers-in-string

  ./8kyu/century-from-year
)
